In [1]:
import csv
import os
import pandas as pd

In [2]:
# Source CSV file path
source_folder = r'F:\FAU PhD\DISSERTATION\DATABASES\ALL PPP Loan Data\PPP Orig csv Files'
csv_filename = 'public_up_to_150k_11_230101.csv'
source_csv_path = os.path.join(source_folder, csv_filename)

# Read the CSV file using pandas
df = pd.read_csv(source_csv_path)
df.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,8930638408,02/14/2021,671,PPS,RITIE-WAY AVIATION INC,7814 Eagle Ln,Spring,TX,77379-3185,01/12/2022,...,Corporation,12096,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,86604.63,12/01/2021
1,3073477904,06/12/2020,677,PPP,TEXAS SCHOOL OF SCIENCE & MATH LLC,5360 N Mesa St Suite 5E,El Paso,TX,79912-5811,NaN,...,Limited Liability Company(LLC),529113,"Kabbage, Inc.",Atlanta,GA,Male Owned,Non-Veteran,NaN,NaN,NaN
2,3310848408,02/04/2021,677,PPS,TEXAS SCHOOL OF SCIENCE & MATH LLC,5360 N Mesa St Ste E5,El Paso,TX,79912-5820,NaN,...,Limited Liability Company(LLC),529113,"Kabbage, Inc.",Atlanta,GA,Male Owned,Non-Veteran,NaN,NaN,NaN
3,6353787106,04/14/2020,639,PPP,"ISAVELA ENTERPRISES, INC.",721 N 2nd St,MCALLEN,TX,78501-2516,03/05/2021,...,Corporation,89721,Greater State Bank,MCALLEN,TX,Male Owned,Non-Veteran,NaN,86622.64,02/09/2021
4,9417227008,04/09/2020,681,PPP,"K&J CONTROL, INC",1922 N MAIN ST,JUNCTION,TX,76849-3524,07/09/2021,...,Subchapter S Corporation,70532,Junction National Bank,JUNCTION,TX,Female Owned,Non-Veteran,NaN,86943.04,06/11/2021

In [3]:
#filtering the data by country, state, congressional district, and business size

# Filter conditions
condition_method = df['ProcessingMethod'] == 'PPP'
condition_NAICS = df['NAICSCode'] == 541330

# Combine the conditions using logical AND
combined_condition = condition_method & condition_NAICS

# Apply the combined condition to filter the DataFrame
df_filtered = df[combined_condition]
df_filtered.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
96,6451067705,05/01/2020,671,PPP,GAY AND LOUDERMILK ENGINEERS,4545 BISSONNET ST STE 126,BELLAIRE,TX,77401-3007,04/16/2021,...,Sole Proprietorship,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN,86628.55,03/11/2021
428,2410547702,05/01/2020,671,PPP,ROBERT W YOUNG AND ASSOCIATES INC,7806 OLDHAVEN ST,HOUSTON,TX,77074,06/22/2021,...,Subchapter S Corporation,48270,"JPMorgan Chase Bank, National Association",COLUMBUS,OH,Unanswered,Unanswered,NaN,86462.56,05/18/2021
429,2939607707,05/01/2020,610,PPP,AZCARATE &AMP; ASSOCIATES CONSULTING ENGINEERS...,7920 BELT LINE RD STE 350,DALLAS,TX,75254,07/22/2021,...,Corporation,48270,"JPMorgan Chase Bank, National Association",COLUMBUS,OH,Male Owned,Non-Veteran,NaN,86481.19,05/26/2021
582,2082757706,05/01/2020,671,PPP,"CORNERSTONE ENGINEERING, LLC",26400 Kuykendahl Rd Ste C180 #314,THE WOODLANDS,TX,77375,07/22/2021,...,Limited Liability Company(LLC),48270,"JPMorgan Chase Bank, National Association",COLUMBUS,OH,Unanswered,Unanswered,NaN,86332.33,05/25/2021
685,8620157709,05/01/2020,610,PPP,"GREG EDWARDS ENGINEERING SERVICES, INC.",1621 AMANDA CT,PONDER,TX,76259-4067,07/14/2021,...,Subchapter S Corporation,456756,Cross River Bank,TEANECK,NJ,Unanswered,Unanswered,NaN,86305.63,06/24/2021

In [4]:
df_filtered.shape

(2178, 53)

In [5]:
# Define the CSV filename
filtered_csv_filename = 'PPP_NAICS_Eng_11.csv'

# Define the full path for the filtered CSV file
filtered_csv_path = os.path.join(source_folder, filtered_csv_filename)

# Save the filtered DataFrame as a CSV file
df_filtered.to_csv(filtered_csv_path, index=False)

print(f"Filtered DataFrame saved as '{filtered_csv_path}'")

Filtered DataFrame saved as 'F:\FAU PhD\DISSERTATION\DATABASES\ALL PPP Loan Data\PPP Orig csv Files\PPP_NAICS_Eng_11.csv'