In [1]:
import csv
import os
import pandas as pd

In [2]:
# Source CSV file path
source_folder = r'F:\FAU PhD\DISSERTATION\DATABASES\ALL PPP Loan Data\PPP Orig csv Files'
csv_filename = 'public_up_to_150k_2_230101.csv'
source_csv_path = os.path.join(source_folder, csv_filename)

# Read the CSV file using pandas
df = pd.read_csv(source_csv_path)
df.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,6737768803,04/20/2021,920,PPP,QUEANA LANDERS,31501 Sagecrest Dr,Lake Elsinore,CA,92532-0413,NaN,...,Sole Proprietorship,509316,"Harvest Small Business Finance, LLC",Laguna Hills,CA,Male Owned,Non-Veteran,NaN,NaN,NaN
1,6737817406,05/15/2020,912,PPP,EVENT MANAGEMENT,644 BOLINAS ROAD,FAIRFAX,CA,94930,05/12/2021,...,Partnership,12096,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,21019.64,04/08/2021
2,6737908601,03/23/2021,914,PPP,ALECIA BECTON,3420 San Gabriel Ct,Palmdale,CA,93550-5681,09/25/2021,...,Sole Proprietorship,509316,"Harvest Small Business Finance, LLC",Laguna Hills,CA,Unanswered,Unanswered,NaN,20904.35,08/12/2021
3,6737948809,04/20/2021,920,PPP,JOSEPH COOK,4809 Arlington ave,Riverside,CA,92504,NaN,...,Sole Proprietorship,509316,"Harvest Small Business Finance, LLC",Laguna Hills,CA,Unanswered,Unanswered,NaN,NaN,NaN
4,6738008800,04/20/2021,920,PPP,SALVADOR SANCHEZ,3195 Mayfair Ln,Riverside,CA,92506-4350,NaN,...,Sole Proprietorship,456756,Cross River Bank,TEANECK,NJ,Male Owned,Non-Veteran,NaN,NaN,NaN

In [3]:
#filtering the data by country, state, congressional district, and business size

# Filter conditions
condition_method = df['ProcessingMethod'] == 'PPP'
condition_NAICS = df['NAICSCode'] == 541330

# Combine the conditions using logical AND
combined_condition = condition_method & condition_NAICS

# Apply the combined condition to filter the DataFrame
df_filtered = df[combined_condition]
df_filtered.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
448,6776498906,05/03/2021,920,PPP,SHAMARIE MASSEY,16015 Dorsey Ave Apt B,Fontana,CA,92335-1235,01/11/2022,...,Sole Proprietorship,529192,Benworth Capital,Miami,FL,Male Owned,Non-Veteran,NaN,20960.28,12/14/2021
523,6781778901,05/03/2021,920,PPP,KEVIN CARR,1025 S Coast Hwy,Laguna Beach,CA,92651-2966,NaN,...,Self-Employed Individuals,529192,Benworth Capital,Miami,FL,Female Owned,Non-Veteran,NaN,NaN,NaN
842,6807647203,04/28/2020,931,PPP,DAVID JARED DEBOCK,1017 Cordelia Ct,Chico,CA,95926,01/15/2021,...,Sole Proprietorship,440193,Column National Association,CHICO,CA,Male Owned,Non-Veteran,NaN,20976.52,01/08/2021
909,6813077205,04/28/2020,912,PPP,PROFESSIONAL LAND SERVICES,1373 CHELSEA WAY,LIVERMORE,CA,94550,04/10/2021,...,Corporation,12096,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,21002.52,02/26/2021
1276,6838398809,04/20/2021,954,PPP,COREY FISHER,4740 34th St Unit 8,San Diego,CA,92116-1865,09/25/2021,...,Sole Proprietorship,509316,"Harvest Small Business Finance, LLC",Laguna Hills,CA,Unanswered,Unanswered,NaN,20902.06,08/27/2021

In [4]:
df_filtered.shape

(2510, 53)

In [5]:
# Define the CSV filename
filtered_csv_filename = 'PPP_NAICS_Eng_2.csv'

# Define the full path for the filtered CSV file
filtered_csv_path = os.path.join(source_folder, filtered_csv_filename)

# Save the filtered DataFrame as a CSV file
df_filtered.to_csv(filtered_csv_path, index=False)

print(f"Filtered DataFrame saved as '{filtered_csv_path}'")

Filtered DataFrame saved as 'F:\FAU PhD\DISSERTATION\DATABASES\ALL PPP Loan Data\PPP Orig csv Files\PPP_NAICS_Eng_2.csv'